.drumset-container {
  grid-area: d;
  background-color: $background-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
  .drumset {
    // min-width:600px;
    width: 80%;
    position: relative;
    aspect-ratio: 2.55/1;
    min-height: 300px;
    @media (max-width: 1200px) {
      height: 60%;
      width: 100%;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
  .drumset-pad {
    position: absolute;
    cursor: url("../cursor-big.png"), pointer;
    opacity: 0.4;
    user-select: none;
    background-color: lighten($background-color, 10%);
    box-shadow:  4px 8px 12px $primary-color;
    border-radius: 50%;
    aspect-ratio: 1/1;
    &::before{
      position: absolute;
      font-size: 0.9em;
      left:50%;
      top:50%;
      transform: translate(-50%,-50%);
      color:white;
      font-weight: bold;
      text-align: center;
      opacity:0;
      transition:0.15s;
    }
    &:hover {
      &::before{
        opacity:1;
      }
    }
    &--hihat {
      width: 11%;
      top: 50%;
      left: 16%;
      &::before{
        content:"Hihat (HH)";
      }
    }
    &--snare {
      width: 14%;
      top: 55%;
      left: 30%;
      &::before{
        content:"Snare (SN)";
      }
    }
    &--kick {
      width: 5%;
      top: 62%;
      left: 48%;
      cursor: url("../cursor-kick.png"), pointer;
      aspect-ratio: 1/2;
      clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
      border-radius: 25%;
      background-color: $primary-color;
      box-shadow: unset;

      &::before{
        content:"Kick (K)";
        color:black
      }
    }
    &--tom-1 {
      width: 10%;
      top: 24%;
      left: 28%;
      &::before{
        content:"Tom 1 (T-1)";
      }
    }
    &--tom-2 {
      width: 12%;
      top: 20%;
      left: 44%;
      &::before{
        content:"Tom 2 (T-2)";
      }
    }
    &--floor-tom {
      width: 17%;
      top: 50%;
      left: 58%;
      &::before{
        content:"Floor Tom (F-T)";
      }
    }
    &--crash {
      width: 16%;
      top: 5%;
      left: 8%;
      &::before{
        content:"Crash (CR)";
      }
    }
    &--ride {
      width: 16%;
      top: 3%;
      left: 61%;
      &::before{
        content:"Ride (RD)";
      }
    }
  }
}
