.player-container {
  grid-area: p;
  position: relative;
  width: 100%;
  max-width: 100vw;
  z-index: 1;

  .progress-indicator {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to right,
      rgba(0,0,0, 0) 99%,
      white
    );
    position: absolute;
    top: 0;
    left: 60px;
    z-index: 1;
    transform: translateX(-100%);
  }

  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: 50px 4fr clamp(10vh, 120px, 25vh);
  grid-template-areas:
    "empty beat-measure"
    "tracks-labels beat"
    "beat-order beat-order";
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    &.control-wrapper {
      flex-wrap: nowrap;
      flex-grow: 1;
      height: 100%;
    }
  }
  .empty {
    grid-area: empty;
    background-color: $background-color;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items:center;
  }

  .beat-measure-wrapper {
    background-color: $background-color;
    grid-area: beat-measure;
    align-items: center;
    z-index: 1;
    .beat-measure {
      flex-grow: 1;
      max-width: 40px;
      text-align: center;
      flex-basis: 100%;
      opacity: 0.5;
      font-size: 0.9em;
      user-select: none;
      &.highlight {
        font-size: 1.5em;
        font-weight: bold;
        opacity: 1;
      }
    }
  }
  .tracks-labels-wrapper {
    background-color: $background-color;
    grid-area: tracks-labels;
    z-index: 1;
    .track-label {
      text-align: center;
      user-select: none;
    }
  }
  .beat-wrapper {
    grid-area: beat;
    justify-content: unset;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    &.smooth {
      .bar {
        pointer-events: none;
        &.active {
          pointer-events: all;
        }
      }
    }
    .bar {
      background-color: rgb(33, 33, 33);
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }
  .bar {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-around;
    &--measure {
      flex-direction: row;
      align-items: center;
    }
    .bar-index {
      font-size: 2em;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 40vh;
      opacity: 0.02;
      font-weight: bold;
      user-select: none;
    }
  }
  .change-order-section {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $background-color;
    grid-area: beat-order;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: 0.3s;
    bottom: 0;
    z-index: 5;
    overflow: hidden;
    padding-inline: 5%;
    .bar-control-section {
      padding-top: 5px;
      margin-top: 4px;
      span {
        user-select: none;
        display: inline-block;
      }
      .action-btn,
      .action-label {
        margin-right: 12px;
        padding: 4px 12px;
        // border-radius: 4px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        &:hover {
          &::before {
            transform: translateX(-50%);
          }
        }

        &::before {
          content: "";
          position: absolute;
          width: 80%;
          height: 10%;
          z-index: -1;
          bottom: 0;
          left: 50%;
          transform: translateX(-201%);
          transition: 0.15s;
          border-radius: 4px;
        }

        &.btn-rm {
          &::before {
            background-color: $alert-color;
          }
        }
        &.btn-add {
          &::before {
            background-color: $success-color;
          }
        }
        &.btn-clear {
          &::before {
            background-color: rgb(26, 105, 253);
          }
        }
      }
    }

    .bars-order-list {
      width: 100%;
      height: 100%;
      position: relative;

      .bar-box {
        height: 80%;
        top: 10%;
        position: absolute;
        border-radius: 40px;
        list-style: none;
        box-shadow: inset 0 0 6px darken($primary-color,30%);
        cursor: pointer;
        transition: 0s;
        position: absolute;
        &:last-child {
          border: none;
        }
        
        .number {
          font-size: 200%;
          font-weight: bold;
          transition: 0.15s;
          position: absolute;
          color: rgba(255, 255, 255, 0.311);
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          user-select: none;
          pointer-events: none;
        }
        &.active {
          // flex-grow: 4;
          box-shadow: 0 0 10px $primary-color;
          border:2px solid $primary-color;
          .number {
            font-size: 250%;
            color: white;
          }
          &:hover {
            .box-btn {
              opacity: 1;
              pointer-events: all;
            }
            .drag-icon {
              opacity: 1;
              animation: dragIcon 2s ease-in-out infinite;
            }
          }
        }
        &.dragged {
          opacity: 0.8;
          z-index: 100;
          pointer-events: none;
          touch-action: none;
        }
      }
    }
    .arrow {
      height: 100%;
      flex-basis: 4%;
      border: none;
      background-color: rgb(43, 43, 43);
      font-size: 30px;
      cursor: pointer;
      user-select: none;
      z-index: 10;
    }
  }
  &.playing {
    .change-order-section {
      pointer-events: none;
      .bar-control-section {
        opacity: 0.5;
      }
      .bars-order-list {
      }
    }

    .note {
      pointer-events: none;
    }
  }

  .track {
    display: flex;
    justify-content: space-around;
    z-index: 1;
    // height: 7%;
    // padding:5px 0;
    flex-basis:100%;
    &:nth-child(odd){
      background-color: rgba(255, 255, 255, 0.01);
    }

    .track-label {
      text-align: center;
    }
    .note {
      background-color: rgba(90, 90, 90, 0.1);
      // aspect-ratio: 1/1;
      height: 100%; 
      flex-basis: 100%;
      // border-radius: 50%;
      transition: 0.15s;
      cursor: pointer;
      position: relative;
      border-right:1px solid rgba(0, 0, 0, 0.4);
      &::before{
        content:"";
        border-radius: 50%;
        height: 60%;
        aspect-ratio: 1/1;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
      }
      &.ghost-note {
        &::before{
        box-shadow: inset 0 0 8px $primary-color;
        transform: scale(0.8) translate(-50%,-50%);
      }}
      &.regular {
        &::before{
        box-shadow: inset 0 0 16px $primary-color, 0 0 4px $primary-color;
      }}
      &.accent {
        &::before{
        background-color: $primary-color;
        box-shadow: 0 0 8px $primary-color;
        transform: scale(1.1) translate(-50%,-50%);
      }}
    }
   
  }

}



@keyframes dragIcon {
  0% {
    transform: translate(0%, 0%);
  }
  25% {
    transform: translate(8%, 0%);
  }
  75% {
    transform: translate(-8%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
