
.player-container{
    grid-area: 1/2/2/4;
    background-color: rgb(90, 90, 90);
    position: relative;
    z-index: 1;
    .progress-indicator{
       
        width:100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.158);
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1) 96%, rgba(255, 255, 255, 0.5));
        // border-right:1px solid white;
        position: absolute;
        top:0;
        left:60px;
        z-index: 1;
        transform: translateX(-100%);
     
    }

    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 40px 40px 1fr;
    grid-template-areas: 
        "empty bar-number"
        "empty beat-measure"
        "tracks-labels beat"
    ;
    .wrapper{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;

    }
    .bar-number-wrapper{
        grid-area: bar-number;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: rgb(70, 70, 70);
        z-index: 1;
        position: relative;
        .background{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgb(70, 70, 70);
            z-index: -1;

        }
        .reorganise-section-reveal{
            margin-left:50px;
            background-color: rgb(41, 41, 41);
            border:none;
            padding:5px 20px;
            cursor:pointer;
        }
      
        span{
            margin:0 30px;
        }
        .bar-number{
            text-align: center;
            font-size: 1.5em;
            flex-grow: 1;
           
        }
        .arrow{
            height: 100%;
            border:none;
            background-color: rgb(43, 43, 43);
            font-size: 30px;
            padding:0 20px;
            cursor: pointer;
        }
    }
    .beat-measure-wrapper{
        background-color: rgb(53, 53, 53);
        grid-area: beat-measure;
        align-items: center;
        z-index: 1;
        .beat-measure{
            flex-grow: 1;
            max-width: 40px;
            // margin:0 10px;
            text-align: center;
            flex-basis: 100%;
            opacity:0.5;
            font-size: 0.9em;
            &.highlight{
                font-size: 1.5em;
                font-weight: bold;
                opacity:1;
            }

        }
    }
    .tracks-labels-wrapper{
        background-color: rgb(58, 58, 58);
        grid-area: tracks-labels;
        z-index: 1;
        .track-label{
            text-align: center;
        }
    }
    .beat-wrapper{
        grid-area: beat;
        // flex-direction: unset;
        justify-content: unset;
        // transition: 1s;
        max-height: 40vh;
        &.smooth{
            transition: 0.5s ease-in-out;
        }
        .bar{
            background-color: rgb(66, 66, 66);
        }
       
    }
    .bar{
        // border-right:2px solid white;
        height: 100%;
        width: 100%;
        position: relative;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: space-around;
        &--measure{
            flex-direction: row;
            align-items: center;
        }
        .bar-index{
            font-size: 2em;
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            font-size: 50vh;
            opacity:0.02;
            font-weight: bold;
        }
    }
    .change-order-section{
        position: absolute;
        width:100%;
        height: 120px;
        background-color: rgba(121, 121, 121, 0.295);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        transition: 0.3s;
        bottom:0;
        &.hidden{
            transform: translateY(100%);
        }
        .bars-order-list{
            flex-basis: 100%;
            display: flex;
            height: 100%;
            justify-content: space-evenly;
            padding: 0 50px;
            align-items: center;
            .bar-box{
                flex-basis: 100%;
                height: 100%;
                list-style: none;
                margin: 0 4px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgb(59, 59, 59);
                cursor: pointer;
                transition: 0.15s;
                position: relative;
                &:hover{
                    box-shadow: inset 0px 0px 12px lighten($primary-color, 10%);
                    .box-btn{
                        opacity:1;
                        pointer-events: all;
                    }
                }
               .box-btn{
                position: absolute;
                padding:5px 10px;
                font-size: 200%;
                transition: background-color 0.15s;
                opacity:0;
                pointer-events: none;
                &:hover{
                    background-color: $primary-color;
                }
               }
                .copy-bar{
                    top:0;
                    right:0;    
                }
                .remove-bar{
                    top:0;
                    left:0;
                }
                .clear-bar{
                    bottom:0;
                    left:0;
                }
                .number{
                    font-size: 200%;
                    font-weight: bold;
                    transition:0.15s;
                    color: rgba(255, 255, 255, 0.411);
                }
                &.active{
               
                    .number{
                        transform: scale(1.2);
                        color:white;
                    }
                    &:hover{
                        box-shadow: inset 0px 0px 12px white !important;
                    }
                }
            }
        }
    }
}

.track{
    display: flex;
    // border: 2px solid brown;
    justify-content: space-around;
    z-index: 1;
    .track-label{
        text-align: center;
    }
    .note{
        background-color: rgba(90, 90, 90, 0.1);
        height: 20px;
        margin: 0 10px;
        // width:30px;
        flex-grow: 1;
        max-width: 40px;
       
        &.ghost-note{
            background-color:rgb(95, 95, 95);
        }
        &.regular{
            background-color: rgb(167, 167, 167)
        }
        &.accent{
            background-color: rgb(255, 255, 255)

        }
       
    }
}

