* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  font-family: 'Montserrat Alternates', sans-serif;
}

p {
  pointer-events: none;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
}

.app {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  -ms-grid-columns: minmax(300px, 1fr) 2fr 2fr;
      grid-template-columns: minmax(300px, 1fr) 2fr 2fr;
  -ms-grid-rows: 45vh 55vh;
      grid-template-rows: 45vh 55vh;
}

.player-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 1/2/2/4;
  background-color: #5a5a5a;
  position: relative;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px 1fr;
      grid-template-columns: 60px 1fr;
  -ms-grid-rows: 40px 40px 1fr;
      grid-template-rows: 40px 40px 1fr;
      grid-template-areas: "empty bar-number" "empty beat-measure" "tracks-labels beat";
}

.player-container .progress-indicator {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.158);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(96%, rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.5)));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1) 96%, rgba(255, 255, 255, 0.5));
  position: absolute;
  top: 0;
  left: 60px;
  z-index: 1;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.player-container .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.player-container .bar-number-wrapper {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: bar-number;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #464646;
  z-index: 1;
  position: relative;
}

.player-container .bar-number-wrapper .background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #464646;
  z-index: -1;
}

.player-container .bar-number-wrapper .reorganise-section-reveal {
  margin-left: 50px;
  background-color: #292929;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
}

.player-container .bar-number-wrapper span {
  margin: 0 30px;
}

.player-container .bar-number-wrapper .bar-number {
  text-align: center;
  font-size: 1.5em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.player-container .bar-number-wrapper .arrow {
  height: 100%;
  border: none;
  background-color: #2b2b2b;
  font-size: 30px;
  padding: 0 20px;
  cursor: pointer;
}

.player-container .beat-measure-wrapper {
  background-color: #353535;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: beat-measure;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.player-container .beat-measure-wrapper .beat-measure {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 40px;
  text-align: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  opacity: 0.5;
  font-size: 0.9em;
}

.player-container .beat-measure-wrapper .beat-measure.highlight {
  font-size: 1.5em;
  font-weight: bold;
  opacity: 1;
}

.player-container .tracks-labels-wrapper {
  background-color: #3a3a3a;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: tracks-labels;
  z-index: 1;
}

.player-container .tracks-labels-wrapper .track-label {
  text-align: center;
}

.player-container .beat-wrapper {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: beat;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  max-height: 40vh;
}

.player-container .beat-wrapper.smooth {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.player-container .beat-wrapper .bar {
  background-color: #424242;
}

.player-container .bar {
  height: 100%;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.player-container .bar--measure {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player-container .bar .bar-index {
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 50vh;
  opacity: 0.02;
  font-weight: bold;
}

.player-container .change-order-section {
  position: absolute;
  width: 100%;
  height: 120px;
  background-color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.9;
  bottom: 0;
}

.player-container .change-order-section.hidden {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.player-container .change-order-section .bars-order-list {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player-container .change-order-section .bars-order-list .bar-number {
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 60%;
  border-radius: 6px;
  list-style: none;
  margin: 0 10px;
  max-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3b3b3b;
  cursor: pointer;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.player-container .change-order-section .bars-order-list .bar-number:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.player-container .change-order-section .bars-order-list .bar-number .number {
  font-size: 200%;
  font-weight: bold;
  color: gray;
}

.track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 1;
}

.track .track-label {
  text-align: center;
}

.track .note {
  background-color: rgba(90, 90, 90, 0.1);
  height: 20px;
  margin: 0 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 40px;
}

.track .note.ghost-note {
  background-color: #5f5f5f;
}

.track .note.regular {
  background-color: #a7a7a7;
}

.track .note.accent {
  background-color: white;
}

.menu-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/3/2;
  background-color: #464646;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 2;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.input {
  background-color: rgba(43, 43, 43, 0.644);
  padding: 10px;
  margin: 10px 20px;
  font-size: 1.2em;
  border-radius: 15px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.select-wrapper .select-input {
  color: black;
}

.player-controller-input .controller-btn {
  display: block;
  margin: 10px auto;
  padding: 5px 10px;
  background-color: #3eff78;
  color: #424242;
  border: none;
  border-radius: 4px;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  font-weight: bold;
  cursor: pointer;
  width: 100px;
}

.player-controller-input .controller-btn.playing {
  background-color: #ff3d3d;
  color: white;
}

.tempo-input .tempo-value {
  font-size: 1.5em;
  margin: 0 10px;
}

.tempo-input .tempo-info {
  text-align: center;
  margin: 20px 0;
}

.tempo-input .slider-wrapper {
  text-align: center;
}

.tempo-input .change-btn {
  background-color: #3e72ff;
  padding: 0px 10px;
  margin: 0 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 4px;
}

.bars-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bars-wrapper .bars-label {
  margin-bottom: 20px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.bars-wrapper .change-btn {
  background-color: #3e72ff;
  padding: 0px 10px;
  margin: 0 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 4px;
}

.bars-wrapper .bars-info {
  margin-top: 20px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
}

.bars-wrapper .bars-value {
  font-size: 1.5em;
  margin: 0 10px;
}

.beat-select-section .list-wrapper {
  margin: 20px 0;
  max-height: 250px;
  overflow-y: scroll;
}

.beat-select-section .list-wrapper .list-element {
  padding: 10px;
  margin: 10px;
  background-color: #3e72ff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 4px;
}

.beat-select-section .list-wrapper .list-element:nth-child(even) {
  background-color: #1e4ac4;
}

.beat-select-section .list-wrapper .list-element:hover {
  -webkit-filter: brightness(1.08);
          filter: brightness(1.08);
}

.beat-select-section .list-wrapper .list-element.active {
  border: 2px solid white;
}

.drumset-container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 2/2/3/4;
  background-color: #363636;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.drumset-container .drumset {
  min-width: 600px;
  width: 80%;
  height: 100%;
  position: relative;
}

.drumset-container .drumset-pad {
  position: absolute;
  cursor: url("../cursor-big.png"), url("../cursor.png"), pointer;
  opacity: 0.5;
}

.drumset-container .drumset-pad:hover {
  -webkit-filter: brightness(2);
          filter: brightness(2);
}

.drumset-container .drumset-pad--hihat {
  width: 20%;
  top: 45%;
  left: 6%;
}

.drumset-container .drumset-pad--snare {
  width: 21%;
  top: 54%;
  left: 21%;
}

.drumset-container .drumset-pad--kick {
  width: 28%;
  top: 65%;
  left: 38%;
  cursor: url("../cursor-kick.png"), url("../cursor.png"), pointer;
}

.drumset-container .drumset-pad--tom-1 {
  width: 15%;
  top: 32%;
  left: 35%;
}

.drumset-container .drumset-pad--tom-2 {
  width: 18%;
  top: 32%;
  left: 52%;
}

.drumset-container .drumset-pad--floor-tom {
  width: 27%;
  top: 50%;
  left: 66%;
}

.drumset-container .drumset-pad--crash {
  width: 29%;
  top: 12%;
  left: 8%;
}

.drumset-container .drumset-pad--ride {
  width: 32%;
  top: 15%;
  left: 67%;
}
/*# sourceMappingURL=style.css.map */