* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
}

.app {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  -ms-grid-columns: minmax(300px, 1fr) 2fr 2fr;
      grid-template-columns: minmax(300px, 1fr) 2fr 2fr;
  -ms-grid-rows: 2fr 3fr;
      grid-template-rows: 2fr 3fr;
}

.player-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 1/2/2/4;
  background-color: sandybrown;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px 1fr;
      grid-template-columns: 60px 1fr;
  -ms-grid-rows: 40px 1fr;
      grid-template-rows: 40px 1fr;
      grid-template-areas: "empty beat-measure" "tracks-labels beat";
}

.player-container .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.player-container .beat-measure-wrapper {
  background-color: rgba(119, 92, 67, 0.25);
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: beat-measure;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player-container .beat-measure-wrapper .beat-measure {
  height: 1em;
  text-align: center;
  -ms-flex-preferred-size: 8%;
      flex-basis: 8%;
}

.player-container .tracks-labels-wrapper {
  background-color: rgba(119, 92, 67, 0.5);
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: tracks-labels;
}

.player-container .tracks-labels-wrapper .track-label {
  text-align: center;
}

.player-container .beat-wrapper {
  background-color: rgba(119, 92, 67, 0.75);
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: beat;
}

.track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.track .track-label {
  min-width: 40px;
  text-align: center;
}

.track .note {
  background-color: rgba(255, 195, 142, 0.226);
  -ms-flex-preferred-size: 8%;
      flex-basis: 8%;
  height: 20px;
  margin: 0;
}

.track .note.active {
  background-color: #ffcea3;
}

.progress-indicator {
  width: 30px;
  height: 100%;
  border: 2px solid red;
  position: absolute;
  top: 0;
  left: 0;
}

.menu-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/3/2;
  background-color: lightsalmon;
}

.input {
  background-color: rgba(143, 90, 69, 0.205);
  padding: 10px;
  margin: 20px;
  font-size: 1.2em;
}

.select-wrapper .select-input {
  color: black;
}

.drumset-container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 2/2/3/4;
  background-color: thistle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.drumset-container .drumset-pad {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  text-align: center;
  background-color: rgba(102, 89, 102, 0.123);
  height: 25%;
  padding: 10px;
  margin: 20px;
}
/*# sourceMappingURL=style.css.map */