* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  font-family: "Montserrat Alternates", sans-serif;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

@media (max-width: 1200px) and (orientation: landscape) {
  html,
  body {
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

@media (max-width: 992px) {
  html,
  body {
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

#root {
  width: 100vw;
  height: 100vh;
}

p {
  pointer-events: none;
}

.app {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  -ms-grid-columns: minmax(340px, 1fr) 4fr;
      grid-template-columns: minmax(340px, 1fr) 4fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "m p" "m d";
}

.app .rotate-device-info {
  z-index: 1000;
  background-color: black;
  color: white;
  font-size: 2em;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

@media (max-width: 1200px) {
  .app {
    -ms-grid-columns: minmax(340px, 1fr) 4fr;
        grid-template-columns: minmax(340px, 1fr) 4fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "p p" "m d";
  }
}

@media (max-width: 992px) and (orientation: landscape) {
  .app {
    -ms-grid-rows: 100vh 100vh;
        grid-template-rows: 100vh 100vh;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .app {
    -ms-grid-rows: 4fr 3fr;
        grid-template-rows: 4fr 3fr;
        grid-template-areas: "p p" "m m";
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  .app {
    border: 2px solid white;
        grid-template-areas: "p p" "m m";
  }
}

@media (max-width: 576px) and (orientation: portrait) {
  .app .rotate-device-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.player-container {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: p;
  background-color: #424242;
  position: relative;
  width: 100%;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px 1fr;
      grid-template-columns: 60px 1fr;
  -ms-grid-rows: 50px 4fr clamp(10vh, 120px, 25vh);
      grid-template-rows: 50px 4fr clamp(10vh, 120px, 25vh);
      grid-template-areas: "empty beat-measure" "tracks-labels beat" "beat-order beat-order";
}

.player-container .progress-indicator {
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(98%, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.5)));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 98%, rgba(255, 255, 255, 0.5));
  position: absolute;
  -webkit-backdrop-filter: contrast(80%);
          backdrop-filter: contrast(80%);
  top: 0;
  left: 60px;
  z-index: 1;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.player-container .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.player-container .wrapper.control-wrapper {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
}

.player-container .empty {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: empty;
  background-color: #353535;
  z-index: 10;
}

.player-container .bar-number-wrapper {
  grid-area: bar-number;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #464646;
  z-index: 1;
  position: relative;
}

.player-container .bar-number-wrapper .background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #464646;
  z-index: -1;
}

.player-container .bar-number-wrapper .reorganise-section-reveal {
  margin-left: 50px;
  background-color: #292929;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
}

.player-container .bar-number-wrapper span {
  margin: 0 30px;
}

.player-container .bar-number-wrapper .bar-number {
  text-align: center;
  font-size: 1.5em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.player-container .bar-number-wrapper .arrow {
  height: 100%;
  border: none;
  background-color: #2b2b2b;
  font-size: 30px;
  padding: 0 20px;
  cursor: pointer;
}

.player-container .beat-measure-wrapper {
  background-color: #353535;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: beat-measure;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.player-container .beat-measure-wrapper .beat-measure {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 40px;
  text-align: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  opacity: 0.5;
  font-size: 0.9em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.player-container .beat-measure-wrapper .beat-measure.highlight {
  font-size: 1.5em;
  font-weight: bold;
  opacity: 1;
}

.player-container .tracks-labels-wrapper {
  background-color: #3a3a3a;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: tracks-labels;
  z-index: 1;
}

.player-container .tracks-labels-wrapper .track-label {
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.player-container .beat-wrapper {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: beat;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
}

.player-container .beat-wrapper.smooth .bar {
  pointer-events: none;
}

.player-container .beat-wrapper.smooth .bar.active {
  pointer-events: all;
}

.player-container .beat-wrapper .bar {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.player-container .bar {
  height: 100%;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.player-container .bar--measure {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player-container .bar .bar-index {
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 40vh;
  opacity: 0.02;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.player-container .change-order-section {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2b2b2b;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: beat-order;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  bottom: 0;
  z-index: 5;
  overflow: hidden;
  padding-inline: 5%;
}

.player-container .change-order-section .bar-control-section {
  padding-top: 5px;
  margin-top: 4px;
}

.player-container .change-order-section .bar-control-section span {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
}

.player-container .change-order-section .bar-control-section .action-btn,
.player-container .change-order-section .bar-control-section .action-label {
  margin-right: 12px;
  padding: 4px 12px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.player-container .change-order-section .bar-control-section .action-btn:hover::before,
.player-container .change-order-section .bar-control-section .action-label:hover::before {
  -webkit-transform: unset;
          transform: unset;
}

.player-container .change-order-section .bar-control-section .action-btn.disabled,
.player-container .change-order-section .bar-control-section .action-label.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.player-container .change-order-section .bar-control-section .action-btn::before,
.player-container .change-order-section .bar-control-section .action-label::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5%;
  z-index: -1;
  bottom: 0px;
  left: 0;
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.player-container .change-order-section .bar-control-section .action-btn.btn-rm::before,
.player-container .change-order-section .bar-control-section .action-label.btn-rm::before {
  background-color: #ff3d3d;
}

.player-container .change-order-section .bar-control-section .action-btn.btn-add::before,
.player-container .change-order-section .bar-control-section .action-label.btn-add::before {
  background-color: #00d741;
}

.player-container .change-order-section .bar-control-section .action-btn.btn-clear::before,
.player-container .change-order-section .bar-control-section .action-label.btn-clear::before {
  background-color: #3e72ff;
}

.player-container .change-order-section .bars-order-list {
  width: 100%;
  height: 100%;
  position: relative;
}

.player-container .change-order-section .bars-order-list .bar-box {
  height: 80%;
  top: 10%;
  position: absolute;
  border-right: 2px solid white;
  list-style: none;
  background-color: #3b3b3b;
  cursor: pointer;
  -webkit-transition: 0s;
  transition: 0s;
  position: absolute;
}

.player-container .change-order-section .bars-order-list .bar-box:last-child {
  border: none;
}

.player-container .change-order-section .bars-order-list .bar-box .box-btn {
  position: absolute;
  padding: 5px 10px;
  font-size: 160%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  pointer-events: none;
}

.player-container .change-order-section .bars-order-list .bar-box .copy-bar {
  top: 0;
  right: 0;
}

.player-container .change-order-section .bars-order-list .bar-box .copy-bar:hover .fas {
  color: #3eff78;
}

.player-container .change-order-section .bars-order-list .bar-box .remove-bar {
  top: 0;
  left: 0;
}

.player-container .change-order-section .bars-order-list .bar-box .remove-bar:hover .fas {
  color: #ff3d3d;
}

.player-container .change-order-section .bars-order-list .bar-box .clear-bar {
  bottom: 0;
  left: 0;
}

.player-container .change-order-section .bars-order-list .bar-box .clear-bar:hover .fas {
  color: #3e72ff;
}

.player-container .change-order-section .bars-order-list .bar-box .drag-icon {
  position: absolute;
  height: 40%;
  max-width: 30%;
  bottom: 4%;
  right: 2%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
  -o-object-fit: contain;
     object-fit: contain;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.player-container .change-order-section .bars-order-list .bar-box .number {
  font-size: 200%;
  font-weight: bold;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  position: absolute;
  color: rgba(255, 255, 255, 0.411);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.player-container .change-order-section .bars-order-list .bar-box.active {
  background-color: rgba(255, 255, 255, 0.2);
}

.player-container .change-order-section .bars-order-list .bar-box.active .number {
  font-size: 250%;
  color: white;
}

.player-container .change-order-section .bars-order-list .bar-box.active:hover .box-btn {
  opacity: 1;
  pointer-events: all;
}

.player-container .change-order-section .bars-order-list .bar-box.active:hover .drag-icon {
  opacity: 1;
  -webkit-animation: dragIcon 2s ease-in-out infinite;
          animation: dragIcon 2s ease-in-out infinite;
}

.player-container .change-order-section .bars-order-list .bar-box.dragged {
  border: 2px solid white;
  opacity: 0.5;
  z-index: 100;
  pointer-events: none;
}

.player-container .change-order-section .arrow {
  height: 100%;
  -ms-flex-preferred-size: 4%;
      flex-basis: 4%;
  border: none;
  background-color: #2b2b2b;
  font-size: 30px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 10;
}

.player-container.playing .change-order-section {
  pointer-events: none;
}

.player-container.playing .change-order-section .bar-control-section {
  opacity: 0.5;
}

.player-container.playing .note {
  pointer-events: none;
}

.track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 1;
}

.track .track-label {
  text-align: center;
}

.track .note {
  background-color: rgba(90, 90, 90, 0.1);
  height: 24px;
  margin: 0 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 24px;
  border-radius: 50%;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  cursor: pointer;
}

.track .note.ghost-note {
  -webkit-box-shadow: inset 0 0 8px #63faff;
          box-shadow: inset 0 0 8px #63faff;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.track .note.regular {
  -webkit-box-shadow: inset 0 0 16px #63faff, 0 0 4px #63faff;
          box-shadow: inset 0 0 16px #63faff, 0 0 4px #63faff;
}

.track .note.accent {
  background-color: #63faff;
  -webkit-box-shadow: 0 0 8px #63faff;
          box-shadow: 0 0 8px #63faff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@-webkit-keyframes dragIcon {
  0% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  25% {
    -webkit-transform: translate(8%, 0%);
            transform: translate(8%, 0%);
  }
  75% {
    -webkit-transform: translate(-8%, 0%);
            transform: translate(-8%, 0%);
  }
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@keyframes dragIcon {
  0% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  25% {
    -webkit-transform: translate(8%, 0%);
            transform: translate(8%, 0%);
  }
  75% {
    -webkit-transform: translate(-8%, 0%);
            transform: translate(-8%, 0%);
  }
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

.menu-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: m;
  background-color: #464646;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 2;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 1200px) {
  .menu-container {
    overflow-y: scroll;
  }
}

.input {
  background-color: rgba(43, 43, 43, 0.644);
  padding: 10px;
  margin: 10px 20px;
  font-size: 1.2em;
  border-radius: 15px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 400px;
}

.select-wrapper .select-input {
  color: black;
}

.player-controller-input .controller-btn {
  display: block;
  margin: 10px auto;
  padding: 5px 10px;
  background-color: #3eff78;
  color: #424242;
  border: none;
  border-radius: 4px;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  font-weight: bold;
  cursor: pointer;
  width: 100px;
}

.player-controller-input .controller-btn.playing {
  background-color: #ff3d3d;
  color: white;
}

.tempo-input .tempo-value {
  font-size: 1.5em;
  margin: 0 10px;
}

.tempo-input .tempo-info {
  text-align: center;
  margin: 20px 0;
}

.tempo-input .slider-wrapper {
  text-align: center;
}

.tempo-input .change-btn {
  background-color: #3e72ff;
  padding: 0px 10px;
  margin: 0 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 4px;
}

.bars-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bars-wrapper .bars-label {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.bars-wrapper .change-btn {
  background-color: #3e72ff;
  padding: 0px 10px;
  margin: 0 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 4px;
}

.bars-wrapper .bars-info {
  margin-top: 20px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
}

.bars-wrapper .bars-info .track-name {
  font-weight: bold;
  font-size: 1.2em;
}

.bars-wrapper .bars-value {
  font-size: 1.5em;
  margin: 0 10px;
}

.beat-select-section .list-wrapper {
  margin: 20px 0;
  max-height: 250px;
  overflow-y: scroll;
}

.beat-select-section .list-wrapper .list-element {
  padding: 10px;
  margin: 10px;
  background-color: #3e72ff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 4px;
}

.beat-select-section .list-wrapper .list-element:nth-child(even) {
  background-color: #1e4ac4;
}

.beat-select-section .list-wrapper .list-element:hover {
  -webkit-filter: brightness(1.08);
          filter: brightness(1.08);
}

.beat-select-section .list-wrapper .list-element.active {
  border: 2px solid white;
}

.drumset-input .drumset-select {
  outline: none;
  margin-left: 20px;
  font-size: 1em;
  background: none;
  border: none;
  font-weight: bold;
}

.drumset-input .drumset-select .drumset-option {
  background-color: #464646;
}

.drumset-container {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: d;
  background-color: #363636;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.drumset-container .drumset {
  width: 80%;
  position: relative;
  aspect-ratio: 2.55/1;
  min-height: 300px;
}

@media (max-width: 1200px) {
  .drumset-container .drumset {
    height: 60%;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .drumset-container .drumset {
    display: none;
  }
}

.drumset-container .drumset-pad {
  position: absolute;
  cursor: url("../cursor-big.png"), pointer;
  opacity: 0.6;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: white;
  color: black;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.drumset-container .drumset-pad::before {
  position: absolute;
  font-size: 0.9em;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: black;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.drumset-container .drumset-pad:hover::before {
  opacity: 1;
}

.drumset-container .drumset-pad--hihat {
  width: 11%;
  top: 50%;
  left: 16%;
  background-color: black;
}

.drumset-container .drumset-pad--hihat::before {
  content: "Hihat (HH)";
  color: white;
}

.drumset-container .drumset-pad--snare {
  width: 14%;
  top: 55%;
  left: 30%;
}

.drumset-container .drumset-pad--snare::before {
  content: "Snare (SN)";
}

.drumset-container .drumset-pad--kick {
  width: 5%;
  top: 60%;
  left: 47%;
  cursor: url("../cursor-kick.png"), pointer;
  aspect-ratio: 1/2;
  -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
          clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
  border-radius: 25%;
  background-color: black;
}

.drumset-container .drumset-pad--kick::before {
  content: "Kick (K)";
  color: white;
}

.drumset-container .drumset-pad--tom-1 {
  width: 10%;
  top: 24%;
  left: 28%;
}

.drumset-container .drumset-pad--tom-1::before {
  content: "Tom 1 (T-1)";
}

.drumset-container .drumset-pad--tom-2 {
  width: 12%;
  top: 20%;
  left: 43%;
}

.drumset-container .drumset-pad--tom-2::before {
  content: "Tom 2 (T-2)";
}

.drumset-container .drumset-pad--floor-tom {
  width: 18%;
  top: 45%;
  left: 56%;
}

.drumset-container .drumset-pad--floor-tom::before {
  content: "Floor Tom (F-T)";
}

.drumset-container .drumset-pad--crash {
  width: 16%;
  top: 2%;
  left: 10%;
  background-color: black;
}

.drumset-container .drumset-pad--crash::before {
  content: "Crash (CR)";
  color: white;
}

.drumset-container .drumset-pad--ride {
  width: 16%;
  top: 1%;
  left: 61%;
  background-color: black;
}

.drumset-container .drumset-pad--ride::before {
  content: "Ride (RD)";
  color: white;
}
/*# sourceMappingURL=style.css.map */